{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'insta/style.css' %}">

    <title>{% block title %}My amazing site{% endblock %}</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">Appname</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'authenticate:index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'insta:get_post' %}">Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'insta:get_page' %}">Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'insta:view_saved' %}">Saved Posts</a>
              </li>
             <li class="nav-item">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'insta:manage_tags' %}">Tags</a>
              </li>
            </ul>   
             <ul class="navbar-nav ml-auto">
              <li>
                <a class="nav-link" href="{% url 'authenticate:logout' %}">Logout</a>
              </li>
            </ul>            
            {% else %}
            </ul>
            <ul class="navbar-nav ml-auto">
             <li class="nav-item">
                <a class="nav-link" href="{% url 'authenticate:login' %}">Login</a>
              </li>
            </ul>
            {% endif %}
          </div>
        </div>
    </nav>

    {% if messages %}
    <div class="container">
        <div class="col-md-12">
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>