{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<h1 class="mb-3">Tags</h1>
			<ul class="list-group">
			{% for tag in tags %}
			<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
				{{ tag.tag }} 
				<a href="{% url 'insta:edit_tag' tag=tag.id %}"><span class="badge badge-light badge-pill">edit</span></a>
			</li>
			{% endfor %}
			</ul>

		</div>

		{% for current in current_tag%}
		<div class="col-md-6">
			<h4 class="mt-4 mb-3">Edit: {{ current.tag }}</h4>

			<form action="{% url 'insta:edit_tag' tag=current.id%}" method="POST">
				<div class="form-group">
					<label for="" class="">New tagname:</label>
					{{ form.new_tag }}
				</div>
				<button type="submit" class="btn btn-primary mb-2">Save</button>
				{% csrf_token %}
			</form>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}