{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}


{% block content %}

<h1>Page</h1>

<div class="col-md-6">
	<form action="{% url 'insta:get_page' %}" method="POST">
		<div class="form-group">
			<p>Enter page name:</p>
			<label for="" class="">Page:</label>
			{{ form.page }}
		</div>
		<button type="submit" class="btn btn-primary mb-2">Submit</button>
		{% csrf_token %}
	</form>
</div>

<br />
<a href="{{ pageurl }}" target="_blank">{{ pageurl }}</a>

<br />
<!-- <p>Database output:</p>
<ul>
{% for output in allpages %}
	<li>{{ output.page }}</li>
{% endfor %}
</ul> -->

<div class="row">
{% for post in posts %}
	<div class="col-sm-4">
		<form action="{% url 'insta:get_page' %}" method="POST">
			<img src="{{ post }}" class="img-fluid">
			<a href="{% url 'insta:save_post' page=page img=post %}">
				<button type="button" class="btn btn-light">Save</button>
			</a>
		</form>
	</div>
{% endfor %}
</div>


{% endblock %}