{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}


{% block content %}


<div class="container">

	<div class="col-md-6">
		<h1 class="mb-4">Page</h1>
		<form action="{% url 'insta:get_page' %}" method="GET">
			<div class="form-group">
				<p>Enter page name:</p>
				<label for="" class="">Page:</label>
				{{ form.page }}
			</div>
			<button type="submit" class="btn btn-primary mb-2">Submit</button>
			<!-- {% csrf_token %} NOT NEEDED FOR GET REQUEST -->
		</form>
	</div>

	<div class="col-md-6">
		<br />
		<a href="{{ pageurl }}" target="_blank">{{ pageurl }}</a>
		<br />
	</div>

	{% if "None" in page %}
	<div class="col-md-6">
		5 recent pages:
		<ul>
			{% for ig in allpages %}
			<li><a href="{% url 'insta:get_page' %}?page={{ ig.page }}">{{ ig.page }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

	<div class="row" style="margin-left:0px;">
<!-- 		<div class="col-md-12"> -->
		{% for post in posts %}
			<div class="col-md-4">
				<form action="{% url 'insta:get_page' %}" method="POST">
					<img src="{{ post }}" class="img-fluid">
					<a href="{% url 'insta:save_post' page=page img=post %}">
						<button type="button" class="btn btn-light" id="savepost">Save</button>
					</a>
				</form>
			</div>
<!-- 		</div> -->


	<!-- 	<div id="result">
		</div> -->

	<!-- 	<script>
		$("#savepost").click(function(){ 
		     $.ajax({
		        url: "{% url 'insta:save_post' page=page img=post %}", 
		        success:   function(result){ 
		            console.log(url);
		        }
		      });
		});
		</script> -->

	<!-- 	<script>
			$("#savepost").on('click',function(e) {
			   e.preventDefault();
			  //here you can load verify.aspx by using console.log("saved post");
			  var url = "{% url 'insta:save_post' page=page img=post %}"
			  // console.log(url); 
			   $("#result").load(url); 
			    console.log("saved post");  
			});
		</script> -->

	{% endfor %}
	</div>

</div><!-- ends container -->

{% endblock %}