{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}


{% block content %}


<div class="container">
	<div class="col-md-6">
		<h1>Post</h1>
		<form action="{% url 'insta:get_post' %}" method="POST">
			<div class="form-group">
				<p>Enter post url:</p>
				<label for="" class="">Post:</label>
				{{ form.post }}
				<!-- {{ form.tag }} -->
			</div>
			<button type="submit" class="btn btn-primary mb-2">Submit</button>
			{% csrf_token %}
		</form>
	</div>


{% if "None" not in post %}
	<div class="row">
		<div class="col-md-6">
			<img src="{{ post }}" class="img-fluid">
			<a href="{% url 'insta:save_post' page=page img=post %}">
				<button type="button" class="btn btn-light" id="savepost">Save</button>
			</a>
		</div>
	</div>
	{% else %}
	
	
	<div class="col-md-6">
		5 recent posts:
	</div>
	
	<div class="row" style="margin-left:0px;">		
		{% for ig in recent %}
		<div class="col-md-3">
			<img src="{{ ig.img }}" class="img-fluid">
		</div>
		{% endfor %}
	</div>

{% endif %}
</div><!-- ends container -->


{% endblock %}