{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}


{% block content %}


<!-- <h1>Post</h1> -->

<div class="row justify-content-start">
	<div class="col-12 prevnext">
		<a href="{% url 'insta:post_detail' previous %}" class="badge badge-light">Previous</a>
		<a href="{% url 'insta:post_detail' next  %}" class="badge badge-light">Next</a>
	</div>
</div>

<div class="row justify-content-start">
	<div class="col-12">
		{% if tag is not None %}
		<h2>{{ tag }}</h2>
		{% endif %}

		<img src="{{ post.img }}" class="img-fluid">

		<p><a href="{% url 'insta:get_page' %}?page={{ post.page }}" class="badge badge-info">{{ post.page }}</a></p>

	</div>
</div>

<a href="{% url 'insta:delete_post' postid=post.pk %}" class="btn btn-secondary mb-2">Delete</a>
<form action="{% url 'insta:post_detail' postid=post.pk %}" method="POST">
	<div class="form-group">
		<label for="" class="">Tag:</label>
		{{ form.tag }}
	</div>
	<button type="submit" class="btn btn-primary mb-2">Save</button>
	{% csrf_token %}
</form>


{% endblock %}