{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}


{% block content %}


<h1>Post</h1>

<div class="col-md-6">
	<form action="{% url 'insta:get_post' %}" method="POST">
		<div class="form-group">
			<p>Enter post url:</p>
			<label for="" class="">Post:</label>
			{{ form.post }}
			{{ form.tag }}
		</div>
		<button type="submit" class="btn btn-primary mb-2">Submit</button>
		{% csrf_token %}
	</form>
</div>

<div class="row justify-content-start">
	<div class="col-6">
		<img src="{{ answer }}" class="img-fluid">
	</div>
</div>



{% endblock %}