{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}


{% block content %}

<div class="container">

	<h1>Saved Posts</h1>

	<a href="/savedposts/">Grid</a>
	<a href="/savedposts/?view=scroll">Scroll</a>

	<br />

	<div class="row">
		<div class="col-md-12">
		{% for tag in tags %}
			<a href="{% url 'insta:save_tag' tag=tag.tag %}">
			<h5><span class="badge badge-secondary">{{ tag.tag|title }}</span></h5>
			</a>
		{% endfor %}
		</div>
	</div>

	<div class="row">

	{% for post in posts %}
		{% if request.GET.view %}
		<div class="col-sm-12 mb-4 overview">
		{% else %}
		<div class="col-sm-4 mb-4 overview">
		{% endif %}
			<a href="{% url 'insta:post_detail' post.pk  %}">
				<img src="{{ post.img }}" class="img-fluid">
			</a>
		</div>
	{% endfor %}
	</div> <!-- ends row -->

</div> <!-- ends container -->

{% endblock %}