{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}


{% block content %}

<h1>Saved Posts</h1>

<!-- <div class="col-md-6">
	
</div>

<br />
<a href="{{ pageurl }}" target="_blank">{{ pageurl }}</a> -->

<br />
<!-- <p>Database output:</p>
<ul>
{% for output in allpages %}
	<li>{{ output.page }}</li>
{% endfor %}
</ul> -->

{% for tag in tags %}
	<a href="{% url 'insta:save_tag' tag=tag.tag %}">
	<h5><span class="badge badge-secondary">{{ tag.tag|title }}</span></h5>
	</a>
{% endfor %}

<div class="row">
{% for post in posts %}
	<div class="col-sm-4">
		<a href="{% url 'insta:post_detail' post.pk  %}">
			<img src="{{ post.img }}" class="img-fluid">
		</a>
	</div>
{% endfor %}
</div>


{% endblock %}